:root {
    --font-text: 'Montserrat';
    --white: #fff;
    --black: ##1e2335;
    --color-green: #cbe346;
}


body {      
    margin: 0;
    font-family: var(--font-text);
    background: #f3f4f8;
}


 li {
    list-style: none;
    margin-right: 25px;
    
}

header {
    background: url(assets/group.jpg);
    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
    
}

.logo {
    width: 37px;
    height: 37px;    
}

.menu {
    display: flex;    
    justify-content: left;
    align-items: center;
}

.lista {
    display: flex;
    color: var(--white);
    font-weight: bold;
}

.idiomas {
    margin-left: 50px;
}

.titular {
    text-align: left;
    margin-top: 200px;    
}

.title-titular {
    font-size: 53px;
    color: var(--white);
    letter-spacing: -0.05px;
    line-height: 68px;
    font-weight: normal; 
}


.tennis-titular {
    font-family: var(--font-text);
    font-size: 53px;
    color: var(--color-green);
    letter-spacing: -0.05px;
    line-height: 68px;
    font-weight: bold;    
}


.boton-titular {    
    display: flex;    
    align-items: center;
    font-family: var(--font-text);
    font-size: 13px;
    letter-spacing: 1.01px;
    font-weight: bold;
    padding: 15px 49px 15px 30px;
    background-color: transparent;
    color: var(--white) !important;
    border-color: var(--white);
    border-radius: 50px;     
}

.text-titular-acerca {
    color: var(--white) !important;
}

.menu-icon {
    display: none; 
}


.row {
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
}

.col {    
    width: 29%;
}

.boton-col {
    margin-top: 180px;
}

.contenedor-historia {
    background: #f3f4f8;
}


.boton-historia {        
    justify-content: space-between;    
    display: flex;       
    align-items: center;
    font-family: var(--font-text);
    font-size: 13px;
    letter-spacing: 1.01px;
    font-weight: bold;
    padding: 10px 60px 10px 30px;
    background: transparent;
    color: var(--black);
    border-color: var(--black);
    border-radius: 50px;     
}

.tennis-historia {
    margin-top: 75px;                 
    margin-right: 10px;
    font-size: 15px;
    text-align: right;
    font-weight: bold;    
    color: var(--color-green);
    letter-spacing: 1.87;
    font-family: var(--font-text);
}

.accesorios-primario { 
    margin-top: 70px;                 
    text-align: left !important;
    font-family: var(--font-text);
    font-size: 30px;
    letter-spacing: -0.06px;
    color: var(--black);
}

.accesorios-secundario { 
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 0.51px;
    color: #787878;
    text-align: left;
    font-family: var(--font-text);
}

span {
    font-size: 40px;
    color: var(--color-green); 
    margin: 0;       
}

.img-carousel {
    width: 530px;
    height: 468px;
}

.img-carousel-2 {
    width: 288px !important;
    height: 344px !important;
    margin-top: 40px !important;
    color: var(--color-green) !important;    
}

.bg-white {
    background-color: var(--white);
}

.owl-nav {
    text-align: center;
    
}

.element-carousel {
    position: relative;
    display: inline-block;
    text-align: center;
}

.text-title-element {
    font-size: 50px;
    letter-spacing: -0.06px;
    width: 50%;
    text-align: left;
    word-wrap: break-word;           
    color: var(--white);
    font-family: var(--font-text);
    position: absolute;
    top: 38px;
    left: 200px;
}
.text-title-element-2 {
    font-size: 50px;
    letter-spacing: -0.06px;    
    text-align: left;
    word-wrap: break-word;           
    color: var(--color-green);
    font-family: var(--font-text);
    position: absolute;
    top: 38px;
    left: 20px;    
}
.text-bold {
    font-size: 50px !important;
    font-weight: bold;
    color: var(--white) !important;
}
.text-center-element {
    font-size: 18px;
    letter-spacing: -0.06px;
    line-height: 32px;
    text-align: left !important;
    color: var(--white);
    font-family: var(--font-text);
    position: absolute;
    top: 60%;
    left: 59%;
    transform: translate(-50%, -50%);
}

.player {
    width: 100%;
}


footer {        
    background-color: var(--color-green);
}

.footer-list {
    display: flex;
    margin-left: 0px;
    list-style: none;    
}

a {
    text-decoration: none;
}

.footer-element {     
    list-style: none;
    margin-right: 35px;
    font-family: var(--font-text);
    white-space: normal;    
    font-size: 13px;    
    letter-spacing: 1.4px;    
}

.footer-element a {      
    color: var(--black) !important;            
}   

.social-media {
    margin-left: 35px;
}

footer img {
    margin-right: 4px;    
    transform: rotate(0);
    transition: 0.4s;
}

footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}





@media (max-width: 480px) {
    nav {
        position: absolute;
        top: 70px;
        left: 0px;
        background: var(--color-green);        
        width: 100%;
        display: none;
    }

    nav .lista {
        flex-direction: column;
        display: flex;
    }

    .menu-icon {
        display: block;
        width: 37px;
        margin-left: 75%;
    }

    .titular {
        margin-top: 25px;        
    }
    
    .title-titular {
        font-size: 45px;
        color: var(--white);
        letter-spacing: -0.05px;
        line-height: 68px;
        font-weight: normal; 
    }
    
    .boton-titular {    
        display: flex;    
        align-items: center;
        font-family: var(--font-text);
        font-size: 13px;
        letter-spacing: 1.01px;
        font-weight: bold;
        padding: 0;
        background-color: transparent;
        color: var(--white);
        border-color: var(--white);
        border-radius: 50px;     
    }


    .element-carousel {
        position: relative;
        display: inline-block;
        text-align: left;
    }
    
    .tennis-titular {
        font-family: var(--font-text);
        font-size: 45px;
        color: var(--color-green);
        letter-spacing: -0.05px;
        line-height: 68px;
        font-weight: bold;    
    }

    .contenedor-historia {
        flex-direction: column;                
    }

    .tennis-historia {
        margin: 10px;
        text-align: center;
        font-size: 15px;        
        font-weight: bold;    
        color: var(--color-green);
        letter-spacing: 1.87;
        font-family: var(--font-text);
    }
    
    .accesorios-primario { 
        margin: 10px;                 
        text-align: center;
        font-family: var(--font-text);
        font-size: 30px;
        letter-spacing: -0.06px;
        color: var(--black);
    }
    
    .accesorios-secundario { 
        margin: 20px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.51px;
        color: #787878;        
        font-family: var(--font-text);
    }

    .col {    
        width: 100%;
    }

    .boton-col {
        margin: 20px;
    }

    span {
        font-size: 40px;
        color: var(--color-green); 
        margin: 0;       
    }
    
    .img-carousel {
        width: 288px !important;
        height: 344px !important;
        margin-top: 40px !important;
        color: var(--color-green) !important;            
    }
    
    .img-carousel-2 {
        width: 288px !important;
        height: 344px !important;
        margin-top: 40px !important;
        color: var(--color-green) !important;    
    }
    
    .bg-white {
        background-color: var(--white);
    }
    
    
    .text-title-element {
        font-size: 20px;
        letter-spacing: -0.06px;        
        text-align: left;
        word-wrap: break-word;           
        color: var(--white);
        font-family: var(--font-text);
        position: absolute;
        top: 38px;
        margin-left: 10px !important;        
    }

    .text-title-element-2 {
        font-size: 20px;
        letter-spacing: -0.06px;    
        text-align: left;
        word-wrap: break-word;           
        color: var(--color-green);
        font-family: var(--font-text);
        position: absolute;
        top: 38px;
        left: 20px;    
    }
    .text-bold {
        font-size: 20px !important;
        font-weight: bold;
        color: var(--white) !important;
    }
    .text-center-element {
        font-size: 18px;
        letter-spacing: -0.06px;
        line-height: 20px;        
        color: var(--white);
        font-family: var(--font-text);
        position: absolute;
        top: 70%;        
        transform: translate(-50%, -50%);
    }
    
    .footer-list {
        display: inline;
        margin-left: 0px;
        list-style: none;                    
    }

    .social-media {
        margin-left: 0px;
        margin-top: 20px;
    }
    


}