/* Poner el color correspondiente */

:root {
    --white: #fff;    
    --black: #1e2335;
    --font-text: 'Montserrat';
    --color-green: #cbe346;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-green);
}

header {
    background: url(assets/group@2x.jpg);
    height: 100vh;
    background-size: cover;
    
}

.container {
    max-width: 1440px; 
    margin: 0;
}


.logo {
    width: 37px;
    height: 37px;
    object-fit: contain;
    margin: 0 0 0 36px;
}

.vr {
    width: 1px;    
    background-color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 105px;
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-text);
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-list {
    display: flex;    
    margin-left: 55px;
}

.menu-language {
    display: flex;
    justify-content: right;
    align-content: right;
    
}

.menu-element-language {
    list-style: none;
    margin: 0 10px 0 0;  
    font-size: 13px;
    letter-spacing: 1.14px;       
    font-weight: bold;    
    color: var(--white);
    font-family: var(--font-text);
}

.menu-element {     
    list-style: none;
    margin-right: 35px;
    color: var(--white);        
    font-family: var(--font-text);
    white-space: normal;
    list-style: none;
    font-size: 16px;    
    letter-spacing: 1.4px;    
}


.main-headline {
    box-sizing: border-box;
    width: 55%;
    text-align: left;
    margin: 180px 0 0 173px;
}

.headline-message {
    font-family: var(--font-text);
    font-size: 53px;
    color: var(--white);
    letter-spacing: -0.05px;
    line-height: 68px;
    font-weight: normal;    
}

.headline-tennis {
    font-family: var(--font-text);
    font-size: 53px;
    color: var(--color-green);
    letter-spacing: -0.05px;
    line-height: 68px;
    font-weight: bold;    
}

.transparent-button {
    display: flex;    
    align-items: center;
    font-family: var(--font-text);
    font-size: 13px;
    letter-spacing: 1.01px;
    font-weight: bold;
    padding: 15px 49px 15px 30px;
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
    border-radius: 50px;        
}

.transparent-button img {
    width: 30px;
    margin: 2px;
}

/* button history background gray */
.row {
    text-align: center;
}

.col {    
    box-sizing: border-box;
    width: 420px;
    display: inline-block;
    vertical-align: top;
}

.history {
    height: 329px;
    background: #f3f4f8;
}

.history-tennis {
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    margin-top: 120px;
    margin-right: 33px;
    color: var(--color-green);
    letter-spacing: 1.87;
    font-family: var(--font-text);
}

.history-products {
    margin-top: 108px;
    word-wrap: break-word;           
    text-align: left !important;
    font-family: var(--font-text);
    font-size: 40px;
    letter-spacing: -0.06px;
    color: var(--black);
}

.history-products-secondary {
    width: 85%;
    font-size: 18px;
    letter-spacing: 0.51px;
    color: #787878;
    text-align: left;
    font-family: var(--font-text);
}

.transparent-button-history {
    justify-content: space-between;
    margin-top: 240px;
    margin-left: 30px;
    display: flex;       
    align-items: center;
    font-family: var(--font-text);
    font-size: 13px;
    letter-spacing: 1.01px;
    font-weight: bold;
    padding: 15px 49px 15px 30px;
    background-color: transparent;
    color: var(--black);
    border-color: var(--black);
    border-radius: 50px;        
}

.transparent-button-history a {
    color: var(--black);
}

.img-carousel {
    width: 530px;
    height: 468px;
}

.img-carousel-2 {
    width: 288px !important;
    height: 344px !important;
    margin-top: 40px !important;
    color: var(--color-green) !important;    
}

span {
    font-size: 40px;
    color: var(--color-green); 
    margin: 0;       
}

.bg-white {
    background-color: var(--white);
}

.owl-nav {
    text-align: center;
    
}

.element-carousel {
    position: relative;
    display: inline-block;
    text-align: center;
}

.text-title-element {
    font-size: 50px;
    letter-spacing: -0.06px;
    width: 50%;
    text-align: left;
    word-wrap: break-word;           
    color: var(--white);
    font-family: var(--font-text);
    position: absolute;
    top: 38px;
    left: 200px;
}
.text-title-element-2 {
    font-size: 50px;
    letter-spacing: -0.06px;    
    text-align: left;
    word-wrap: break-word;           
    color: var(--color-green);
    font-family: var(--font-text);
    position: absolute;
    top: 38px;
    left: 20px;    
}
.text-bold {
    font-size: 50px !important;
    font-weight: bold;
    color: var(--white) !important;
}
.text-center-element {
    font-size: 18px;
    letter-spacing: -0.06px;
    line-height: 32px;
    text-align: left !important;
    color: var(--white);
    font-family: var(--font-text);
    position: absolute;
    top: 60%;
    left: 59%;
    transform: translate(-50%, -50%);
}


.player {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

footer {    
    height: 78px;
    margin-left: 78px;
    background-color: var(--color-green);
}


.footer-list {
    display: flex;
    margin-left: 0px;    
}
.footer-element {     
    list-style: none;
    margin-right: 35px;
    font-family: var(--font-text);
    white-space: normal;    
    font-size: 13px;    
    letter-spacing: 1.4px;    
}

.footer-element a {      
    color: var(--black) !important;            
}   

.social-media {
    margin-left: 35px;
}

footer img {
    margin-right: 4px;    
    transform: rotate(0);
    transition: 0.4s;
}

footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;
}

